<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Redirecting...</title>
</head>
<body>
  <script>
    window.location.href = "{{ target }}";
  </script>
  <p>Redirecting... <a href="{{ target }}">click here if not redirected</a></p>
    <footer class="app-footer">
      <a href="mailto:support@david-alves.com">Support</a>
      <a href="https://klartion.com/privacy" target="_blank">Privacy</a>
      <a href="https://klartion.com/terms" target="_blank">Terms</a>
      <a href="https://github.com/DAdjadj/klartion" target="_blank">GitHub</a>
    </footer>
</body>
</html>